body {
    background-color: #f8f9fa;
    height: 100vh; /* asegura que el body ocupe toda la altura de la pantalla */
    margin: 0; /* elimina márgenes predeterminados */
}

.login-container {
    height: 100vh;
    display: flex;
    align-items: center;    /* centra verticalmente */
    justify-content: center; /* centra horizontalmente */
}

.login-card {
    max-width: 700px; /* ancho más amplio */
    width: 100%;
    padding: 2rem; /* espacio interno */
}

body {
  background: linear-gradient(135deg, #0077b6, #00b4d8);
  color: #333;
}

.card {
  border-radius: 15px;
  border: none;
}

.btn-primary {
  background-color: #0077b6;
  border: none;
}

.btn-primary:hover {
  background-color: #023e8a;
}

.alert {
  font-size: 0.9rem;
}
