body {
  background-color: #048fd4;
  color: #333;
  height: 100vh; /* asegura que el body ocupe toda la altura de la pantalla */
  margin: 0; /* elimina márgenes predeterminados */
}

body.silueta {
  background-image: url('img/fondoAraucarias.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.login-container {
  height: 100vh;
  display: flex;
  align-items: center;    /* centra verticalmente */
  justify-content: center; /* centra horizontalmente */
}

.login-card {
  max-width: 700px; /* ancho más amplio */
  width: 100%;
  padding: 2rem; /* espacio interno */
}

.card {
  border-radius: 15px;
  border: none;
}

.btn-primary {
  background-color: #0077b6;
  border: none;
}

.btn-primary:hover {
  background-color: #023e8a;
}

.alert {
  font-size: 0.9rem;
}