.td-width-110 {
  width: 110px;
}
.td-min-width-220 {
    min-width: 220px;
}
.td-width-140 {
    width: 140px;
}
.hidden-form {
    display: none;
}

/* Media queries para responsividad */
@media (max-width: 768px) {
    .td-width-110 {
        width: 80px;
        font-size: 0.9rem;
    }
    .td-min-width-220 {
        min-width: 150px;
        font-size: 0.9rem;
    }
    .td-width-140 {
        width: 100px;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .td-width-110 {
        width: 60px;
        font-size: 0.8rem;
    }
    .td-min-width-220 {
        min-width: 120px;
        font-size: 0.8rem;
    }
    .td-width-140 {
        width: 80px;
        font-size: 0.8rem;
    }
}
