.login-wrapper-bg-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../../../img/fondoAraucarias.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.logo-img-lg {
    height: 80px;
}

.container-mt20 {
    margin-top: 20px;
}

.hidden-element {
    display: none;
}
